body,
html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: helvetica;
  font-weight: 100;

}

.container {
	padding:0px;
  position: relative;
  height: 100%;
  width: 100%;
  left: 0;
  -webkit-transition: left 0.4s ease-in-out;
  -moz-transition: left 0.4s ease-in-out;
  -ms-transition: left 0.4s ease-in-out;
  -o-transition: left 0.4s ease-in-out;
  transition: left 0.4s ease-in-out;
}

.container.open-sidebar { left: 240px; }



#sidebar {
  background: #1b262f;
  position: absolute;
  width: 240px;
  height: 100%;
  left: -240px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: scroll;
}

#sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#sidebar ul li { margin: 0; }

#sidebar ul li a {
  padding: 15px 20px;
  font-size: 16px;
  font-weight: 100;
  color: white;
  text-decoration: none;
  display: block;
  
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  -ms-transition: background 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

#sidebar ul li:hover a { background: #C9223D; padding-left: 50px; }

.main-content {
  width: 100%;
  height: 100%;
  
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
  overflow: scroll;
}

.main-content .content {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  padding-top: 5%;
}

.main-content .content h1 { font-weight: 100; }

.main-content .content p {
  width: 100%;
  line-height: 160%;
}

.main-content #sidebar-toggle {
  
  display: block;
  position: relative;
  padding: 24px 12px;
  float: left;
}

.main-content #sidebar-toggle .bar {
  display: block;
  width: 26px;
  margin-bottom: 3px;
  height: 5px;
  background-color: #000;
  border-radius: 1px;
}

.main-content #sidebar-toggle .bar:last-child { margin-bottom: 0; }
 .dropdown-menu>li>a{
    color: #f5f5f5;

  }
  .dropdown-menu>li>a:hover{
    background-color: #C9223D;
    color: #f5f5f5;
  }
  #qwe a#menu1 a:hover{
    color: red;
  }
  .breadcrumb{
  padding: 8px 15px;
  background-color: #f5f5f5;
  margin-top: 5px;
  list-style: none;
  border-radius: 4px;
  margin: 10px;
}